@model List<AuditoriaQuimicos.Models.Quimico>

@{
    ViewData["Title"] = "Prioridades para Auditar";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prioridades para Auditar</title>
    <link rel="stylesheet" href="~/css/Prioridades.css">
</head>
<body>
    <header>
        <a href="@Url.Action("Index", "Home")" class="back-button">
            <img src="~/images/previous.png" alt="Regresar" />
        </a>
        <h1>Prioridades para Auditar</h1>
    </header>
    <div class="table-container">
        <h3>Verificar que los siguientes químicos ya no estén en el Almacén:</h3>
        @if (Model != null && Model.Count > 0)
        {
            <table class="quimicos-proximos-table">
                <thead>
                    <tr>
                        <th>Número de Parte</th>
                        <th>Caducidad</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var quimico in Model)
                    {
                        <tr class="@quimico.Result.Replace(" ", "-").ToLower()">
                            <td>@quimico.PartNumber</td>
                            <td>@quimico.Expiration?.ToString("MM/dd/yyyy")</td>
                            <td>@quimico.Result</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No hay químicos próximos a vencer del mes anterior.</p>
        }
    </div>
</body>
</html>
